CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# output folders
out

# resources folder
resources

# Visual Studio
.vs

# Idea
.idea

# Library specifc source files
Cyrey/src/MinApp.cpp
Cyrey/src/MinApp.hpp
Cyrey/src/VerificationBoard.cpp
Cyrey/src/VerificationBoard.hpp
